<script src="/socket.io/socket.io.js"></script>
<section class="page-header">
      <h1 class="project-name">TeacherAsked</h1>
     </section>
    
    <section class="main-content">
      <h3>
        <span aria-hidden="true" class="octicon octicon-link">Welcome {{vm.studentUsername}} in the room <span class="room-id" ng-bind-html="vm.roomId"></span>
        </span>
      </h3>
      <span ng-if="vm.room.currentQuestion !== undefined">
        <div aria-hidden="true" class="octicon octicon-link">Your teacher asked:</div>
        <h4 class="currentQuestion-text">{{vm.room.currentQuestion.question}}</h4>
        <div class="answerStudent" ng-init="vm.answered=false" ng-if="!vm.answered">
          <form ng-submit="vm.submitSingle()" ng-if="vm.room.currentQuestion.answerType == 'text'">
            <input size="35" class="answerStudent-input" type="text" ng-model="vm.answerText"><br><br>
            <button class="answerStudent-button" type="submit">Submit</button>
          </form> 
          <form ng-submit="vm.submitMultiple()" ng-if="vm.room.currentQuestion.answerType == 'multipleAnswer'">
            <div class="btn-group">
            <span class="radio-answers" ng-repeat="answer in vm.room.currentQuestion.possibleMultipleAnswers"><button type="button" class="btn btn-primary" name="radioGroup-answers" value="{{answer.id}}" ng-click="vm.clickMultiple(this.answer.id)">{{answer.value}}</span>
            </div>
            </br><button class="answerStudent-button" type="submit">Submit</button>
          </form>
        </div>
        <h3 ng-if="vm.answered">You answered with:
          <div class="no-check-answer">{{vm.answer}}</div>
        </h3>
      </span>
      <span ng-if="vm.room.currentQuestion === undefined">
        <div>Your teacher didn't ask any question yet. Please wait a moment!</div>
      </span>

      <span ng-if="vm.room.questions.length > 0">
        </br>
        <h3 ng-init="vm.lastQuestion = vm.room.questions[vm.room.questions.length-1]">Statisitics for the last question</h3></br>
        <div class="lastQuestion-text">{{vm.lastQuestion.question}}</div>
        <h4 class="correctAnswer-text" ng-if="vm.lastQuestion.isAutocheck">The correct answer was: 
          <div class="table-center-div">
          <table class="table-center">
            <tr class="possibleAnswers" ng-if="vm.lastQuestion.answerType == 'multipleAnswer'" ng-repeat="possibleAnswer in vm.lastQuestion.possibleMultipleAnswers">
              <td><i ng-if="possibleAnswer.id != vm.lastQuestion.correctMultipleAnswer && vm.checkIsAnswer(vm.lastQuestion, possibleAnswer)" class="material-icons wrongAnswer">clear</i><i ng-if="possibleAnswer.id == vm.lastQuestion.correctMultipleAnswer" class="material-icons correctAnswer">done</i></td><td> {{possibleAnswer.value}}</td>
            </tr>
            <tr class="correctAnswer" ng-if="vm.lastQuestion.answerType == 'text'">
              <td></td><td>{{vm.lastQuestion.correctTextAnswer}}</td>
            </tr>
          </table>
          </div>
        </h4>
          <div class="columns">
            <div class="first-column">
              <table class="statistics1-table">
                <tr ng-repeat="answer in oldQuestion.studentAnswers">
                 <td><span class="answer-date">{{answer.date.substring(11,19)}}</span> {{answer.student}}:</td><td>{{answer.answer}}</td>
                </tr>
              </table>
            </div>
            <div class="second-column">
              <canvas ng-if="vm.lastQuestion.isAutocheck"
                id="pie" 
                class="chart chart-pie"
                chart-data="vm.dataCheckAnswers" 
                chart-labels="vm.labelsCheckAnswers" 
                chart-options="vm.optionsCheckAnswers">
              </canvas></br>
              <canvas 
                id="pie" 
                class="chart chart-pie"
                chart-data="vm.dataAnswers" 
                chart-labels="vm.labelsAnswers" 
                chart-options="vm.optionsAnswers">
              </canvas>  
            </div>
          </div>
        </span>
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/lepouletsuisse/TeacherAsked">TeacherAsked</a> is maintained by <a href="https://github.com/lepouletsuisse">lepouletsuisse</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>
</section>
