<script src="/socket.io/socket.io.js"></script>
<section class="page-header">
    <h1 class="project-name">TeacherAsked</h1>
     </section>
    
    <section class="main-content">
      <h3>
        <span aria-hidden="true" class="octicon octicon-link">Welcome in the room <span class="room-id" ng-bind-html="vm.roomId">4242</span></span>
      </h3>

      <div class="columns" ng-if="vm.room.currentQuestion === undefined">
        <div class="first-column">
          <h4>Ask a question</h4>
          <form ng-submit="vm.submitQuestion()" name="question-form">
            <table class="question-table">
              <tr>
                  <td><label>Question</label></td><td><input type="text" name="question" ng-model="vm.question" ng-init="vm.question=''"></td>
              </tr>
              <tr>
                <td><label>Type of answer</label></td><td>
                  <select name="typeAnswer" ng-model="vm.typeAnswer" vm-init="vm.typeAnswer='text'">
                    <option value="text" selected>Text</option>
                    <option value="multipleAnswer">Multiple choice</option>
                  </select>
                </td>
              </tr>
              <tr ng-if="vm.typeAnswer=='text' && vm.autoCheck">
                <td><label>Correct answer</label></td><td><input type="text" name="correctTextAnswer" ng-model="vm.correctTextAnswer" ng-init="vm.correctMultipleAnswer='0'"></td>
              </tr>
              <tr ng-if="vm.typeAnswer=='multipleAnswer'">
                <td><label>Answer multiple</label></td><td><button type="button" ng-click="vm.addRow()">Add</button><button type="button" ng-click="vm.removeRow()">Remove</button></td>
              </tr>
              <tr ng-repeat="element in vm.dynamicAnswers track by $index" ng-if="vm.typeAnswer=='multipleAnswer'">
                <td class="multipleAnswer">Answer {{element.id}}</td><td><input type="text" name="answer" ng-model="element.value"></td>
              </tr>
              <tr ng-if="vm.typeAnswer=='multipleAnswer' && vm.autoCheck">
                <td>Correct answer</td>
                  <td><select name="correctMultipleAnswer" ng-model="vm.correctMultipleAnswer">
                  <option ng-repeat="element in vm.dynamicAnswers track by $index" value="{{element.id}}">Answer {{element.id}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                  <td><label>Auto-check answer</label></td><td><input type="checkbox" name="checkAnswer" ng-model="vm.autoCheck" ng-init="vm.autoCheck=true"></td>
              </tr>
              <tr>
                  <td>
                    <div><button type="submit">Ask</button></div>
                  </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="second-column">
            <h4>Connected students</h4>
            <table class="student-table" ng-repeat="student in vm.room.connectedStudents track by $index">
                <tr>
                  <td><a href="">{{student}}</a></td>
                </tr>
            </table>
        </div>
      </div>
      <div ng-if="vm.room.currentQuestion !== undefined">
        <h4>Connected students</h4>
        <table class="student-table" ng-repeat="student in vm.room.connectedStudents track by $index">
            <tr>
              <td><a href="">{{student}}</a></td>
            </tr>
        </table>
      </div>
      
      <button ng-if="vm.room.currentQuestion === undefined" ng-click="vm.closeRoom()">Close the room</button>
      <span ng-if="vm.room.currentQuestion !== undefined">
        <h3 class="currentQuestion-text">{{vm.room.currentQuestion.question}}</h3>
        <div class="close-button">
          <button ng-click="vm.closeQuestion()">Close the current question</button>
        </div>
        <!--<button type="button" class="btn btn-primary" data-toggle="button" ng-init="vm.hideAnswer = true" ng-model="vm.hideAnswer" clicked>
          Hide students answers
        </button>-->
        <label class="hideAnswer-label">Hide students answers</label><input type="checkbox" ng-init="vm.hideAnswer = true" ng-model="vm.hideAnswer" class="hideAnswer-checkbox" checked>
        <table class="answer-table" ng-if="!vm.hideAnswer">
          <tr ng-repeat="answer in vm.room.currentQuestion.studentAnswers track by $index">
            <td><span class="answer-date">{{answer.date.substring(11,19)}}</span> {{answer.student}}:</td><td>{{answer.answer}}</td>
          </tr>
        </table>
      </span>

      <span ng-if="vm.room.questions.length > 0">
        </br>
        <h3 ng-init="vm.lastQuestion = vm.room.questions[vm.room.questions.length-1]">Statisitics for the last question</h3></br>
        <div class="lastQuestion-text">{{vm.lastQuestion.question}}</div>
        <h4 class="correctAnswer-text" ng-if="vm.lastQuestion.isAutocheck">The correct answer was: 
          <div class="table-center-div">
          <table class="table-center">
            <tr class="possibleAnswers" ng-if="vm.lastQuestion.answerType == 'multipleAnswer'" ng-repeat="possibleAnswer in vm.lastQuestion.possibleMultipleAnswers track by $index">
              <td><i ng-if="possibleAnswer.id == vm.lastQuestion.correctMultipleAnswer" class="material-icons correctAnswer">done</i></td><td> {{possibleAnswer.value}}</td>
            </tr>
            <tr class="correctAnswer" ng-if="vm.lastQuestion.answerType == 'text'">
              <td></td><td>{{vm.lastQuestion.correctTextAnswer}}</td>
            </tr>
          </table>
          </div>
        </h4>
          <div class="columns">
            <div class="first-column">
              <table class="statistics1-table">
                <tr ng-repeat="answer in vm.lastQuestion.studentAnswers track by $index" ng-if="vm.lastQuestion.answerType == 'text'">
                 <td><span class="answer-date">{{answer.date.substring(11,19)}}</span> {{answer.student}}:</td><td>{{answer.answer}}</td>
                   <td><i ng-if="vm.lastQuestion.isAutocheck && answer.answer != vm.lastQuestion.correctTextAnswer" class="material-icons wrongAnswer">clear</i>
                   <i ng-if="vm.lastQuestion.isAutocheck && answer.answer == vm.lastQuestion.correctTextAnswer" class="material-icons correctAnswer">done</i></td>
                </tr>
                <tr ng-repeat="answer in vm.lastQuestion.studentAnswers track by $index" ng-if="vm.lastQuestion.answerType == 'multipleAnswer'">
                 <td><span class="answer-date">{{answer.date.substring(11,19)}}</span> {{answer.student}}:</td><td>{{answer.answer}}</td>
                   <td><i ng-if="vm.lastQuestion.isAutocheck && answer.answer != vm.lastQuestion.possibleMultipleAnswers[vm.lastQuestion.correctMultipleAnswer].value" class="material-icons wrongAnswer">clear</i>
                   <i ng-if="vm.lastQuestion.isAutocheck && answer.answer == vm.lastQuestion.possibleMultipleAnswers[vm.lastQuestion.correctMultipleAnswer].value" class="material-icons correctAnswer">done</i></td>
                </tr>
              </table>
            </div>
            <div class="second-column">
              <div class="chart-container" ng-if="vm.lastQuestion.isAutocheck">
                <h4>Correct/wrong answers</h4>
                <canvas
                  id="pie" 
                  class="chart chart-pie"
                  chart-data="vm.dataCheckAnswers" 
                  chart-labels="vm.labelsCheckAnswers" 
                  chart-options="vm.optionsCheckAnswers"
                  chart-colors="vm.colorsCheckAnswers">
                </canvas>
              </div>
              <div class="chart-container">
                <h4>All answers</h4>
                <canvas 
                  id="pie" 
                  class="chart chart-pie"
                  chart-data="vm.dataAnswers" 
                  chart-labels="vm.labelsAnswers" 
                  chart-options="vm.optionsAnswers">
                </canvas>
              </div>  
            </div>
          </div>
        </span>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/lepouletsuisse/teacherasked">TeacherAsked</a> is maintained by <a href="https://github.com/lepouletsuisse">lepouletsuisse</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>
</section>
